

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #a3deda;
}
.jumbotron{
    background-color: #4d839b8a;
}
.card{
    background-color: lavender;
}
canvas{
  position:absolute;
  z-index:-2;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #a3deda;
  overflow: hidden;
}

.table td, .table th{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(77, 131, 155);
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
/*响应式字体变化*/
.tc{
    font-size: 3vw;
}
iframe{
    border-style:none;
    box-sizing: border-box;
    width:100%;
    height:100%;
}